.catalog {
  display: grid;
  grid-template-columns: repeat(1, auto);
  gap: $catalog-gap;
  padding: $catalog-padding;
  justify-content: center;

  @include respond-to('small') {
    // Використовуємо міксин для медіа-запитів
    grid-template-columns: repeat(2, auto);
  }

  @include respond-to('medium') {
    grid-template-columns: repeat(3, auto);
  }

  @include respond-to('large') {
    grid-template-columns: repeat(4, auto);
  }
}
